{% extends 'auth_app/base.html' %}

{% block title %} Login {% endblock %}

{% block link %}
    <a href="/registration">Registration</a>
{% endblock %}

{% block form %}
    {% if user.is_authenticated %}
        <div class="col-sm-6 col-sm-offset-3">
            <a href="/en/" tabindex="4"
               class="form-control btn btn-login">Visit Site</a>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <a href="{% url 'logout' %}" tabindex="4"
               class="form-control btn btn-login">Log Out</a>
        </div>
    {% else %}
        <form id="login-form" action="{% url 'login' %}" method="post" role="form" style="display: block;">
            {% csrf_token %}

            {{ form.errors }}
            <div class="form-group">
                <input type="text" name="username" id="username" tabindex="1" class="form-control"
                       placeholder="Username" value="">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" tabindex="2"
                       class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                               class="form-control btn btn-login" value="Log In">
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
