{% extends 'auth_app/base.html' %}

{% block title %} Registration {% endblock %}

{% block link %}
    <a href="/login">Login</a>
{% endblock %}

{% block form %}
<form id="register-form" action="{% url 'registration' %}" method="post"
      role="form">
        {{ form.errors }}
    {% csrf_token %}
    <div class="form-group">
        <input type="text" name="username" id="username" tabindex="1" class="form-control"
               placeholder="Username" value="">
    </div>
    <div class="form-group">
        <input type="email" name="email" id="email" tabindex="1" class="form-control"
               placeholder="Email Address" value="">
    </div>
    <div class="form-group">
        <input type="password" name="password1" id="password" tabindex="2"
               class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="password" name="password2" id="confirm-password" tabindex="2"
               class="form-control" placeholder="Confirm Password">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="register-submit" id="register-submit"
                       tabindex="4" class="form-control btn btn-register"
                       value="Register Now">
            </div>
        </div>
    </div>
</form>
{% endblock %}
